/* You can add global styles to this file, and also import other style files */
.my-flash{
    position: fixed !important;
    top: 57px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.error-mes{
    position: absolute !important;
    top: 104px;
}